In [30]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [31]:
# Census API Key
api_key ="8b66e243a051edf8e014fc8c607957c8375ecf4c"
c = Census(api_key, year=2017)

In [32]:
#  Get census data
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E","B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                     "B01002_001E": "Median Age",
                                     "B19013_001E": "Household Income",
                                     "B19301_001E": "Per Capita Income",
                                     "B17001_002E": "Poverty Count",
                                     "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
   census_pd["Poverty Count"].astype(
       int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                      "Per Capita Income", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369

In [33]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_022E",
                          "B23025_005E"), {'for': 'zip code tabulation area:*'} ) #{'for': 'state:*'}

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B15003_002E": "Education None",
                                      "B15003_022E": "Education Bachelors",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"}) #"state": "State"

# Add in Poverty Rate (Poverty Count / Population)
# census_pd["Poverty Rate"] = 100 * \
#     census_pd["Poverty Count"].astype(
#         int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)
# Percent of people with no schooling
census_pd["Education None_percent"] = (census_pd["Education None"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Bachelors_percent"] = (census_pd["Education Bachelors"].astype(int) / census_pd["Population"].astype(int)) * 100

# census_pd["Education None_percent"] = census_pd["Education None_percent"].sort(ascending=False)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Education None", "Education Bachelors", "Unemployment Rate", "Education None_percent","Education Bachelors_percent"]]

census_pd.head()

,Zipcode,Name,Population,Median Age,Household Income,Per Capita Income,Education None,Education Bachelors,Unemployment Rate,Education None_percent,Education Bachelors_percent
0,00601,ZCTA5 00601,17599.0,38.9,11757.0,7041.0,536.0,1787.0,13.943974,3.045628,10.153986
1,00602,ZCTA5 00602,39209.0,40.9,16190.0,8978.0,843.0,3694.0,6.473004,2.150017,9.421306
2,00603,ZCTA5 00603,50135.0,40.4,16645.0,10897.0,1056.0,5858.0,7.156677,2.106313,11.684452
3,00606,ZCTA5 00606,6304.0,42.8,13387.0,5960.0,214.0,321.0,3.236041,3.394670,5.092005
4,00610,ZCTA5 00610,27590.0,41.4,18741.0,9266.0,494.0,2268.0,5.342515,1.790504,8.220370

In [28]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_018E",
                          "B15003_017E",
                          "B15003_021E",
                          "B15003_022E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",                          
                          "B23025_005E"), {'for': 'zip code tabulation area:*'} ) #{'for': 'state:*'}

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B15003_002E": "Education None",
                                      "B15003_018E": "Education GED",
                                      "B15003_017E": "Education High School",
                                      "B15003_021E": "Education Associates",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",                                    
                                      "B15003_025E": "Education Doctorate",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
# census_pd["Poverty Rate"] = 100 * \
#     census_pd["Poverty Count"].astype(
#         int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)
# Percentages of people by educational attainment
census_pd["Education None_percent"] = (census_pd["Education None"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education GED_percent"] = (census_pd["Education GED"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education High School_percent"] = (census_pd["Education High School"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Associates_percent"] = (census_pd["Education Associates"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Bachelors_percent"] = (census_pd["Education Bachelors"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Masters_percent"] = (census_pd["Education Masters"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Professional_percent"] = (census_pd["Education Professional"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Doctorate_percent"] = (census_pd["Education Doctorate"].astype(int) / census_pd["Population"].astype(int)) * 100

# Final DataFrame
census_pd = census_pd[["Zipcode", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Education None", "Education Bachelors", "Unemployment Rate", "Education None_percent", "Education GED_percent", "Education High School_percent", "Education Associates_percent", "Education Bachelors_percent", "Education Masters_percent", "Education Professional_percent", "Education Doctorate_percent" ]]

census_pd.head()

,Zipcode,Name,Population,Median Age,Household Income,Per Capita Income,Education None,Education Bachelors,Unemployment Rate,Education None_percent,Education GED_percent,Education High School_percent,Education Associates_percent,Education Bachelors_percent,Education Masters_percent,Education Professional_percent,Education Doctorate_percent
0,00601,ZCTA5 00601,17599.0,38.9,11757.0,7041.0,536.0,1787.0,13.943974,3.045628,0.767089,16.091823,4.165009,10.153986,1.528496,0.085232,0.454571
1,00602,ZCTA5 00602,39209.0,40.9,16190.0,8978.0,843.0,3694.0,6.473004,2.150017,2.310694,13.813155,9.309087,9.421306,2.797827,0.443776,0.846744
2,00603,ZCTA5 00603,50135.0,40.4,16645.0,10897.0,1056.0,5858.0,7.156677,2.106313,2.335694,16.926299,4.876833,11.684452,3.201356,0.568465,0.466740
3,00606,ZCTA5 00606,6304.0,42.8,13387.0,5960.0,214.0,321.0,3.236041,3.394670,2.204949,19.225888,3.949873,5.092005,1.221447,0.269670,0.269670
4,00610,ZCTA5 00610,27590.0,41.4,18741.0,9266.0,494.0,2268.0,5.342515,1.790504,2.997463,18.865531,7.201885,8.220370,1.812251,0.036245,0.511055

In [38]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_018E",
                          "B15003_017E",
                          "B15003_021E",
                          "B15003_022E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",                          
                          "B23025_005E"), {'for': 'state:*'} )
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B15003_002E": "Education None",
                                      "B15003_018E": "Education GED",
                                      "B15003_017E": "Education High School",
                                      "B15003_021E": "Education Associates",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",                                    
                                      "B15003_025E": "Education Doctorate",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "state"})

# Add in Poverty Rate (Poverty Count / Population)
# census_pd["Poverty Rate"] = 100 * \
#     census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)
# Percentages of people by educational attainment
census_pd["Education None_percent"] = (census_pd["Education None"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education GED_percent"] = (census_pd["Education GED"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education High School_percent"] = (census_pd["Education High School"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Associates_percent"] = (census_pd["Education Associates"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Bachelors_percent"] = (census_pd["Education Bachelors"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Masters_percent"] = (census_pd["Education Masters"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Professional_percent"] = (census_pd["Education Professional"].astype(int) / census_pd["Population"].astype(int)) * 100
census_pd["Education Doctorate_percent"] = (census_pd["Education Doctorate"].astype(int) / census_pd["Population"].astype(int)) * 100

# Final DataFrame
census_pd = census_pd[["state", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Education None", "Education Bachelors", "Unemployment Rate", "Education None_percent", "Education GED_percent", "Education High School_percent", "Education Associates_percent", "Education Bachelors_percent", "Education Masters_percent", "Education Professional_percent", "Education Doctorate_percent" ]]

census_pd.head()

,state,state,Population,Median Age,Household Income,Per Capita Income,Education None,Education Bachelors,Unemployment Rate,Education None_percent,Education GED_percent,Education High School_percent,Education Associates_percent,Education Bachelors_percent,Education Masters_percent,Education Professional_percent,Education Doctorate_percent
0,Puerto Rico,72,3468963.0,40.1,19775.0,12081.0,62694.0,426310.0,6.359163,1.807284,1.802095,17.205459,6.743975,12.289263,3.331399,0.842932,0.710673
1,Alabama,01,4850771.0,38.7,46472.0,25746.0,41118.0,503930.0,3.409582,0.847659,3.722233,17.151789,5.509330,10.388658,4.452921,1.019467,0.704939
2,Alaska,02,738565.0,33.9,76114.0,35065.0,3451.0,88308.0,4.000731,0.467257,3.402680,14.374090,5.444341,11.956700,4.843176,1.202061,0.658710
3,Arizona,04,6809946.0,37.2,53510.0,27964.0,65604.0,802435.0,3.317368,0.963356,2.668053,13.357610,5.682527,11.783280,5.100026,1.170185,0.810932
4,Arkansas,05,2977944.0,37.9,43813.0,24426.0,23003.0,280677.0,2.858617,0.772446,4.155988,18.728458,4.440010,9.425194,3.730560,0.878324,0.654848